
<table class="tx-qximprint" >
	<tr>
		<td>
			<f:translate key="tx_qximprint_domain_model_data.company" />
		</td>
		<td>
		{data.company}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qximprint_domain_model_data.address" />
		</td>
		<td>
		{data.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qximprint_domain_model_data.zip" />
		</td>
		<td>
		{data.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qximprint_domain_model_data.city" />
		</td>
		<td>
		{data.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qximprint_domain_model_data.phone" />
		</td>
		<td>
		{data.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qximprint_domain_model_data.fax" />
		</td>
		<td>
		{data.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qximprint_domain_model_data.email" />
		</td>
		<td>
		{data.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qximprint_domain_model_data.url" />
		</td>
		<td>
		{data.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qximprint_domain_model_data.logo" />
		</td>
		<td>
				<f:image src="{data.logo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>